<div id="main">
    <p id="title">Register</p>
    <form >
     Full Name<br>
     <input class="input" name="email" type="text" placeholder="   Enter Full Name" [(ngModel)]="name">
     <div *ngIf="checkname==0" class="warning">  Field Required</div >
     
     <br><br>
     Email ID<br>
     <input class="input" name="email" type="text" placeholder="   Eg. joedoe@email.com" [(ngModel)]="email">
     <div *ngIf="checkemail==1" class="warning">  Invalid Email</div >
     <div *ngIf="checkemail==0" class="warning">Email required</div >
     <br><br>
     Password<br>
     <input type="password" class="input" name="email"  placeholder="   Enter password"  [(ngModel)]="password1" >
    
     <div *ngIf="checkPassword1==0" class="warning">Password required</div >
     <br><br>
     Confirm Password<br>
     <input type="password" class="input" name="email"  placeholder="   Re-enter password"  [(ngModel)]="password2" >
     
     <div *ngIf="checkPassword==3" class="warning">Password required</div >
     <div *ngIf="checkPassword==2" class="warning">Passwords are not Similar</div >
     <br><br><br>
     <button id="btn"  type="submit" (click)="submit()">Register</button><br><br><br>
     
     <hr><br>
     <p id="noaccount">Already Have an account?</p>
     <input (click)="toLogin()" type="button" id="register" value="Login">
     
     
    </form>
    </div>
    