
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
#main{
    width:24vw;
    height:85vh;
    background-color: #ffffff;
  position: absolute;
  left:40vw;
  top:12vh;  
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
border-radius: 20px;
background-color: #ffffff;



}
form{
    margin-top: 5%;
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: 'Open Sans', sans-serif;;
    font-size: 0.8em;
    color:#191919;

    
}
#title{
    padding-top: 3vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    columns: #000000;
    vertical-align: 5vh;
    font-size: 1.5em;





}
.input{
    
    position: relative;
    border-radius: 41px;
    background-color: #eeeeee;
    border-style: none;
    height: 5vh;
    width:100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    opacity: 0.76;
    
}
#btn{border-style: none;
    height: 5.5vh;
    width:100%;
    border-radius: 41px;
    background-color: #523ff2;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    color:#ffffff;
    font-size: 1.3em;
    text-align: center;
}
#forgot{
    text-align: center;
    color: #523ff2;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-weight: 500;
    font-size: 1.1em;

}
form>hr{
    background-color: #dbdbdb;
    
    opacity: 0.6;
}
#noaccount{
    text-align: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    opacity: 0.8;
}
#register{
    position: relative;
    border-radius: 41px;
    background-color: #ffffff;
    border-style: none;
    
    width:100%;
    
    opacity: 0.76;
    
    
    
   align-self: center;
    color: #523ff2;
    text-transform: uppercase;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
  
}
.warning{
    height: 0.2vh;
    text-align: center;
    color: #ff3232;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.8;
    opacity: 0.7;
}
#loginbox{
    align-items: center;
    width: 100%;
    margin-left: 40%;
    
}