@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#dot{
    position: absolute;
    left:95vw;
    top:2vh;
    width: 3vw;
    height: 5.5vh;
    
    
}
#dot2{
    width: 3vw;
    height: 5.5vh;
}

#div1{
   
    height: 50vh ;
    width:99vw ;
    background-color: #523FF2;
}
#logo{
    width: 15vw;
    height: 10vh;
}
#image{
    position: absolute;
    
    left: 2vw;
    top: 4vh;
}
#footer{
    margin-left: 1vw;
    height: 4vh;
    width: 99vw;
}
#div2{
   
    height: 50vh;
    width:99vw;
    background-color: #F6F7FE;
}
