<div id="main">
<p id="title">Welcome Back!</p>
<form >
 Email ID<br>
 <input class="input" name="email" type="text" placeholder="   Enter registered email ID" [(ngModel)]="email">
 <div *ngIf="checkemail==2" class="warning">  Wrong Email</div >
<div *ngIf="checkemail==0" class="warning">Email required</div >
 <br><br>
 Password<br>
 <input type="password" class="input" name="email"  placeholder="   Enter password"  [(ngModel)]="password" >
 <div *ngIf="checkPassword==2" class="warning">  Wrong Password</div >
 <div *ngIf="checkPassword==0" class="warning">Password required</div >
 <br><br><br>
 <button id="btn" value="Login" type="submit" (click)="submit()">Login</button>
 <p id="forgot">Forgot Password</p>
 <hr>
 <p id="noaccount">Have no account yet?</p>
 <button (click)="toRegister()" id="register">Register</button>
 
 
</form>
</div>
