

#main{
    width:23vw;
    height:66vh;
    background-color: #ffffff;
  position: absolute;
  left:40vw;
  top:15vh;  
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
border-radius: 20px;
background-color: #ffffff;



}
form{
    margin-top: 13%;
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: 'Open Sans', sans-serif;;
    font-size: 0.8em;
    color:#191919;
    
}
#title{
    padding-top: 5vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    columns: #000000;
    vertical-align: 5vh;
    font-size: 1.3em;





}
.input{
    
    position: relative;
    border-radius: 41px;
    background-color: #eeeeee;
    border-style: none;
    height: 5vh;
    width:100%;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.76;
    
}
#btn{border-style: none;
    height: 5vh;
    width:100%;
    border-radius: 41px;
    background-color: #523ff2;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
}
#forgot{
    text-align: center;
    color: #523ff2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1em;

}
form>hr{
    background-color: #dbdbdb;
    
    opacity: 0.6;
}
#noaccount{
    text-align: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
#register{
    position: relative;
    padding-left: 6.5vw;
    text-align: center;
    color: #523ff2;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    border:none;
    background-color: white;

}
.warning{
    height: 0.5vh;
    text-align: center;
    color: #ff3232;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.8;
    opacity: 0.7;
}