@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
#mainBox{
    width: 16vw;
    height: 100vh;
    background-color: #523ff2;
}
#logoBox{
    
    
    width: 16vw;
    height: 10vh;
    background-color: #3f2fc6;
}
#logo{
    padding-top: 1.5vh;
    padding-left: 1.5vw;
    width: 14vw;
    height:10vh;
}
#box2{
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 2vh;
}
.icon{
    height: 2vh;
    width: 2vw;
}
.headline{
    padding-left: 0.3vw;
    font-family: 'Open Sans', sans-serif;
    
    color:#ffffff;
    
    

}
.btn{

    background-color:transparent;
    width: 13vw;
    border: none;
    height: 4vh;
    border-radius: 41px;
    text-align: left;

}
.line{
    color:transparent;
        height: 0.5vh;
}
#chevron{
    height: 0.8vh;
    width: 0.8vw;
}

