
<div id="mainBox">
 <div id="logoBox">
   <img id="logo"src="../../assets/Logo2.svg">
 </div>
 <div id="box2">  
 <button class="btn"><span  class="headline"><img class="icon" src="../../assets/house.svg">Home</span></button><br>
 
 <button class="btn"><span class="headline"><img class="icon" src="../../assets/2.svg">Browse APIs</span><span style="padding-left: 3vw;"><img id="chevron"src="../../assets/chevron.svg"></span></button><br>
 
 <button class="btn"><span class="headline"><img class="icon" src="../../assets/3.svg">My APIs</span></button><br>
 
 <button class="btn"><span class="headline"><img class="icon" src="../../assets/4.svg">My Projects</span></button><br>
 
 <hr style="color: #ffffff; height: 2px; opacity: 0.2; ">

 <button class="btn"><span class="headline"><img class="icon" src="../../assets/5.svg">Forums</span></button><br>
 
 <button class="btn"><span class="headline"><img class="icon" src="../../assets/6.svg">Our Blog</span></button><br>

 <button class="btn"><span class="headline"><img class="icon" src="../../assets/7.svg">Help/Support</span></button><br>
 
 <hr style="color: #ffffff; height: 2px; opacity: 0.2; ">
 
 <button class="btn"><span class="headline"><img class="icon" src="../../assets/8.svg">Settings</span></button><br>
 
 <button class="btn"><span class="headline"><img class="icon" src="../../assets/9.svg">About Us</span></button><br>
</div>
</div>