<div id="footer"  >
    <div id="Copyright"  >
    <span>Copyright @ Poseidon 2019. All rights reserved.</span>
    <span id="contact">Contact Us</span>        
    <span id="support">Support/Help</span>
    </div>
</div>
