@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#footer{
    margin-left: 1vw;
    height: 4vh;
    width: 99vw;
}
#contact{
    position: absolute;
    left:82vw;
    font-family:'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.7vh;
}
#support{
    position: absolute;
    left:90vw;
    font-family:'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.7vh;
}
#Copyright{
    margin-left: 3 vw;
    margin-top: 2vh;
    font-family:'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.7vh;
}
