<div id="div1">
    <div id="image"><img id="logo" src="../../assets/Logo2.svg"></div>
    <span id="dot"><img id="dot2" src="../../assets/X.svg"></span>
</div>
<div id="div2"></div>
<app-footer1></app-footer1>
<app-main-register></app-main-register>
   