@font-face {
    font-family: ProximaNova-Light;
    
    src: url("../../assets/proxima_ssv/Proxima\ Nova\ Alt\ Light.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova-Bold;
    
    src: url("../../assets/proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf") format("opentype");
}
#dot{
    position: absolute;
    left:95vw;
    top:2vh;
    width: 3vw;
    height: 5.5vh;
    
    
}
#dot2{
    width: 3vw;
    height: 5.5vh;
}

#div1{
   
    height: 50vh ;
    width:99vw ;
    background-color: #523FF2;
}
#logo{
    width: 15vw;
    height: 10vh;
}
#image{
    position: absolute;
    
    left: 2vw;
    top: 4vh;
}
#footer{
    margin-left: 1vw;
    height: 4vh;
    width: 99vw;
}
#div2{
   
    height: 50vh;
    width:99vw;
    background-color: #F6F7FE;
}
#Copyright{
    margin-left: 3 vw;
    margin-top: 2vh;
    font-family:ProximaNova-Light;
}
#contact{
    position: absolute;
    left:82vw;
    font-family:ProximaNova-Light;
}
#support{
    position: absolute;
    left:90vw;
    font-family:ProximaNova-Light;
}